lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
curldata.txt
/*.iml


pids
logs
results

npm-debug.log
node_modules
